body {
    position: relative;
}

h1 {
    color: hotpink;
    font-family: cursive;
}

.doll {
    position: sticky;
    top: 0;
}

.round1 {
    background-color: rgb(4, 9, 13);
    width: 110px;
    height: 110px;
    border-radius: 4rem;
    position: absolute;
    left: 29rem;
    top: 1rem;
}

.round2 {
    background-color: rgb(4, 9, 13);
    width: 110px;
    height: 110px;
    border-radius: 4rem;
    position: absolute;
    right: 72rem;
    top: 1rem;
}

.round3 {
    background-color: rgb(247, 118, 183);
    width: 22%;
    height: 450px;
    border-radius: 14rem;
    position: absolute;
    left: 31rem;
    top: 35px;
}

.round4 {
    background-color: rgb(240, 244, 243);
    width: 100px;
    height: 100px;
    border-radius: 4rem;
    position: absolute;
    left: 36rem;
    top: 6rem;
}

.round5 {
    background-color: rgb(244, 239, 238);
    width: 100px;
    height: 100px;
    border-radius: 4rem;
    position: absolute;
    left: 48rem;
    top: 6rem;

}

.nose-block {
    background-color: rgb(101, 123, 245);
    width: 44px;
    height: 100px;
    position: absolute;
    left: 44rem;
    top: 13rem;
}

.mouth-block {
    background-color: rgb(245, 185, 101);
    width: 150px;
    height: 43px;
    border-radius: 4rem;
    position: absolute;
    left: 41rem;
    top: 21rem;
}

.doll-content {
    font-size: 55px;
}

.doll-text-box {
    width: auto;
    padding: 40px;
}
.icon {
    width: 50px;
    height: 50px;
    background: inherit;
    position: absolute;
    top: 58px;
    left: 13rem;
}

svg {
    color: rgb(13, 12, 12);
    width: 100%;
    padding: 5px;
    height: 3rem;
}

.notify-value {
    position: absolute;
    display: block;
    left: 37px;
    height: 17px;
    background: orange;
    bottom: 23px;
    border: 50%;
    border-radius: 50%;
    padding: 10px;
}